/*
 * -------------------------------------------------
 *  nf-core/mhcquant Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */


executor {
       name = 'local'
       queueSize = 10
       cpus = 4
       memory = '25 GB'
}

process {
  executor = 'local'
       cpus = { check_max( 4, 'cpus' ) }
       memory = { check_max( 25.GB, 'memory' ) }
       time = { check_max( 240.h, 'time' ) }
}
params {
          // Defaults only, expecting to be overwritten
  max_memory = 25.GB
  max_cpus = 4
  max_time = 240.h
}

