/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/maxquant -profile test,<docker/singularity>
 */

params {
  config_profile_name         = 'Test profile'
  config_profile_description  = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h


  //SDRF parameters
  peptidefdr    = 0.01
  proteinfdr    = 0.01
  match         = 'True'
  // Input data
  fasta = ['data/ABRF_iPRG_2012_target.fasta'] 
  raws = ['data/OVEMB150205_12.raw','data/OVEMB150205_14.raw']
  sdrf = ['data/sdrf.tsv']
  parameters = ['data/test_params.yml']

  // Ignore `--input` as otherwise the parameter validation will throw an error
  schema_ignore_params = 'genomes,input_paths,input'
}
